.game {
  display: flex;
}

header {
  text-align: center;
}

section{
  margin-top: 100px;
}
.choice-animal {
  display: flex;
  justify-content: center;
}

.model {
  background-color: rgb(137, 212, 206);
  width: 25%;
  height: 600px;
  background-image :url("../picture/Panda-couleur-tiare.jpg"); 
  background-size: 100%;
  background-repeat: no-repeat;
  background-position :center;
}

.play {
  background-color: rgb(158, 212, 137);
  width: 45%;
  height: 600px;
}

.choice {
  background-color: rgb(207, 183, 206);
  width: 30%;
  height: 600px;
}

/*CHRONOMETRE*/


.progress-bar {
  width: 1200px;/*500*/
  height: 20px;
  background-color: #bebebe;
  border-radius: 12px;
  margin: -650px auto;
  padding: 1px;
}

.progress {
  width: 456px;/*456 aucune incidance sur la durée*/
  height: 19px;
  background-color: rgb(253, 121, 81);
  border-radius: 10px;
}